{% extends "restaurant/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<small><font size="5" color="SteelBlue">{{ posts.category }}</font></small>
			<small class="text-muted">Address : {{ posts.address }}</small>
		</div>
		<h2><a class="article-title" href="#">{{ posts.name }} &nbsp;</a></h2>
	</div>
</article>

<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<small><font size="5" color="SteelBlue"> Average Rating : {{ posts.avg_rating }}</font></small>

		</div>
		<div class="container">
			{% if user%}

			<br>
			<div class="row justify-content-between">
				<div class="col-4">
					<h3>Reviews</h3>
				</div>

			</div><br>
			{% for users in user%}


			<small><font size="4" color="black" class="font-weight-bold">{{users.author}}</font></small>&nbsp;&nbsp;
			<small><font size="2" color="SteelBlue">{{users.date_posted|date:"F d, Y" }}</font></small>
			<br>
			<p class="article-content"> " {{users.comment}} "</p>

			<hr>
			{% endfor %}
			{%endif%}
		</div>
	</div>
</article>


{% endblock content %}